In [1]:
import pandas as pd
import numpy as np

In [3]:
data = np.random.randint(0,100,[1000,50])

In [4]:
df=pd.DataFrame(data)

In [5]:
df.tail(2)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
998,94,39,50,63,75,62,82,71,46,54,...,68,57,58,62,84,98,89,99,81,80
999,35,98,66,59,74,59,59,40,98,5,...,31,61,78,98,12,38,33,95,26,80

In [8]:
pd.options.display.max_rows = 18

In [11]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,51,13,89,54,53,16,86,62,5,22,...,12,10,19,5,65,90,90,55,30,13
1,67,33,67,33,29,82,26,76,81,39,...,73,74,36,32,21,16,69,46,51,71
2,27,60,35,4,50,3,90,27,31,0,...,62,58,43,36,93,62,72,44,29,15
3,60,74,71,91,15,33,3,73,75,12,...,48,0,73,28,46,82,22,64,1,60
4,87,59,77,45,15,31,27,8,77,97,...,11,51,11,57,7,87,23,66,65,98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,81,18,89,99,98,36,66,78,30,84,...,77,60,74,56,4,10,72,80,36,96
996,10,36,97,37,59,55,79,63,41,32,...,57,5,42,21,80,12,25,46,92,20
997,5,14,39,49,76,83,14,97,6,62,...,66,14,88,85,49,13,25,35,49,43
998,94,39,50,63,75,62,82,71,46,54,...,68,57,58,62,84,98,89,99,81,80
999,35,98,66,59,74,59,59,40,98,5,...,31,61,78,98,12,38,33,95,26,80

In [12]:
pd.get_option("max_rows")

OptionError: 'Pattern matched multiple keys'